/* app/globals.css */

@import "tailwindcss";

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-lora: "Lora", ui-serif, Georgia, serif;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);

  --color-gula-jawa: #5d4037;
  --color-terakota: #a1887f;
  --color-santan: #fff8e1;
  --color-kunyit: #ffb300;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 80px;
}
